<ul class="divide-y sm:max-h-[calc(100dvh-155px)] px-1">
  @if (chats.length === 0) {
  <li class="p-3 text-center mt-[10%] text-gray-500">No conversations yet.</li>
  } @for (c of chats; track c.chatId) { @let flat = flats()[c.flatId]; @if
  (flat) {
  <li
    [routerLink]="['/chat', c.chatId]"
    routerLinkActive="bg-gray-300 hover:!bg-gray-300"
    class="p-3 flex items-center cursor-pointer hover:bg-gray-400/20 border-none rounded-xl"
  >
    <img
      [src]="flat.photoUrl || 'fallback.png'"
      alt="Flat thumbnail"
      class="w-12 h-12 object-cover rounded mr-3"
    />
    <div class="flex-1 min-w-0">
      <div class="font-medium truncate">
        {{ flat.streetNumber + ", " + flat.streetName + ", " + flat.city }}
      </div>
      <div class="text-sm text-gray-500 truncate">
        Last: {{ c.lastMessageAt?.toDate() | date : "short" }}
      </div>
    </div>
  </li>
  } }
</ul>
