<div
  class="fixed inset-y-0 right-0 flex w-full md:w-96 bg-white shadow-lg z-50"
>
  <!-- Chat list column -->
  <!-- <div class="w-1/3 border-r overflow-auto">
    <app-chat-list
      [chats]="chats()"
      (chatClicked)="onSelectChat($event)"
    ></app-chat-list>
  </div> -->

  <!-- Chat window column -->
  <div class="flex-1 flex flex-col">
    <!-- @if (selectedChatId()) {
    <app-chat-window [chatId]="selectedChatId()"></app-chat-window>
    } @else {
    <div class="flex-1 flex items-center justify-center text-gray-500">
      Select a conversation to begin
    </div> -->
    <!-- } -->
  </div>
</div>
