<div class="p-4">
  @if (loading()) {
  <div class="flex justify-center py-8">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  } @else {
  <div class="flex justify-between">
    <div>
      <h1 class="flex-1 text-2xl font-semibold">Your Flats</h1>
      <p class="text-start text-wrap text-gray-600 mb-8">
        Here you can edit or delete your published flats.
      </p>
    </div>
    <button
      class="!bg-red-600 w-34 !rounded-lg !text-white !font-medium"
      mat-button
      (click)="addNewFlat()"
    >
      <mat-icon>add</mat-icon>
      Add Flat
    </button>
  </div>

  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-5 gap-6"
  >
    @if (flatsSignal()?.length === 0) {
    <p class="text-gray-600 pt-20 text-center">
      You haven't added any flats yet.
    </p>
    } @else { @for (flat of flatsSignal(); track flat.id) {
    <mat-card
      class="min-w-74 w-full cursor-pointer"
      (click)="viewFlat(flat.id)"
    >
      <div class="relative h-40 w-full overflow-hidden rounded-t-xl">
        <img
          mat-card-image
          [src]="flat.photoUrl || 'fallback.png'"
          alt="Flat photo"
          class="h-40 w-full object-cover transition-opacity duration-500"
        />
      </div>

      <mat-card-content class="!p-2 space-y-1">
        <h3 class="text-lg font-medium">
          {{ flat.streetNumber }}, {{ flat.streetName }}, {{ flat.city }}
        </h3>

        <p class="text-gray-600 text-sm">
          {{ flat.areaSize }} sqm · Built {{ flat.yearBuilt }}
        </p>
        <div class="flex justify-between pt-2">
          <p class="text-gray-500 text-sm">
            Available:
            {{ formatAvailableDate(flat) }}
          </p>
          <p class="text-gray-700">{{ flat.rentPrice | currency }}</p>
        </div>
      </mat-card-content>

      <mat-card-actions class="flex justify-between px-2 pb-2">
        <button
          mat-button
          (click)="viewEdit(flat.id)"
          (click)="onEditClick($event, flat.id)"
          class="!text-gray-800 !bg-gray-200"
        >
          <mat-icon class="mr-1">edit</mat-icon>Edit
        </button>
        <button
          mat-button
          color="warn"
          (click)="onDeleteClick($event, flat.id)"
          class="!text-red-800 !bg-gray-200"
        >
          <mat-icon class="mr-1">delete</mat-icon>Delete
        </button>
      </mat-card-actions>
    </mat-card>
    } }
  </div>
  }
</div>
