<div class="max-w-lg mx-auto mt-[2%] p-6 bg-white md:rounded-lg shadow">
  <h2 class="text-2xl font-semibold mb-1">Welcome! Log in below.</h2>
  <button
    class="w-10/12 py-1 mx-auto my-5 rounded-lg border border-gray-300 flex items-center justify-center space-x-2 hover:bg-gray-50 cursor-pointer"
    type="button"
    (click)="loginWithGoogle()"
    [disabled]="loading$ | async"
  >
    <img
      src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png"
      class="w-7"
    />
    <label>Log in with Google</label>
  </button>

  <p class="text-sm mb-6">
    Don't have an account?
    <a routerLink="/register" class="text-red-600 font-medium hover:underline">
      Sign up here.
    </a>
  </p>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="space-y-4 flex flex-col items-center"
  >
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
      @if (f.email.touched && f.email.hasError('required')) {
      <mat-error>Email is required</mat-error>
      } @else if (f.email.touched && f.email.hasError('email')) {
      <mat-error>Enter a valid email</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="password"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hidePassword = !hidePassword"
        aria-label="Toggle password visibility"
      >
        <mat-icon>
          {{ hidePassword ? "visibility_off" : "visibility" }}
        </mat-icon>
      </button>
      @if (f.password.touched && f.password.hasError('required')) {
      <mat-error>Password is required</mat-error>
      }
    </mat-form-field>

    @if (errorMessage) {
    <div class="text-red-500 text-sm">{{ errorMessage }}</div>
    }

    <div
      class="w-full text-right text-sm -mt-4 font-medium text-blue-700 hover:underline cursor-pointer"
      (click)="sendPasswordReset()"
    >
      Forgot your password?
    </div>

    @if (resetSent) {
    <div class="text-green-600 text-sm mt-2">
      A password reset email has been sent to your address.
    </div>
    }

    <button
      class="w-25 py-1 rounded-lg bg-red-600 !text-white disabled:opacity-50 disabled:bg-gray-600"
      type="submit"
      [disabled]="form.invalid || (loading$ | async)"
    >
      Login
    </button>
  </form>
</div>
