@if(!initialized) {
<div class="h-screen bg-gray-300 flex items-center justify-center">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
} @else { @if(showHeader() ) {
<app-header></app-header>} }

<div [class]="user() ? 'flex !overflow-y-hidden' : 'flex'">
  <div
    [class]="
      user()
        ? 'sm:mt-[56px] overflow-y-auto h-[calc(100dvh-56px)]'
        : 'sm:min-h-[calc(100dvh-76px)] h-full'
    "
    class="flex-1 bg-gray-300 py-4"
  >
    <router-outlet></router-outlet>
  </div>
</div>
