@if(!initialized) {
<div class="h-screen bg-gray-300 flex items-center justify-center">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
} @else { @if(showHeader() ) {
<app-header></app-header>} }

<div class="flex !overflow-y-hidden">
  <div
    [class]="
      user()
        ? 'sm:mt-[56px] sm:h-[calc(100dvh-56px)]'
        : 'sm:h-[calc(100dvh-76px)]'
    "
    class="flex-1 overflow-y-auto bg-gray-300 py-4 h-[calc(100dvh-148px)]"
  >
    <router-outlet></router-outlet>
  </div>
</div>
