<div class="p-4">
  @if (loading()) {
  <div class="flex justify-center py-8 w-full">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  } @else {
  <div class="flex justify-between items-center mb-6 flex-col lg:flex-row">
    <h1 class="text-2xl font-semibold mb-16 lg:mb-0">Flats</h1>

    <div
      class="absolute max-sm:top-60 top-42 lg:top-32 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
    >
      <div class="relative xl:w-md max-sm:w-86">
        <mat-icon
          class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-500"
        >
          search
        </mat-icon>
        <input
          type="text"
          class="w-full bg-gray-50 border border-gray-300 rounded-lg pl-10 pr-10 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
          placeholder="Search"
          [value]="searchTerm()"
          (input)="searchTerm.set($any($event.target).value)"
        />
        @if(searchTerm()) {
        <button
          class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-500 hover:text-gray-700"
          (click)="searchTerm.set('')"
        >
          <mat-icon class="cursor-pointer">close</mat-icon>
        </button>
        }
      </div>
    </div>

    <div class="flex justify-end items-center space-x-2 space-y-2">
      <button
        class="!text-xs lg:!text-sm !bg-red-600 !rounded-lg !text-white !font-medium"
        mat-button
        color="primary"
        (click)="viewNewFlat()"
      >
        <mat-icon>add</mat-icon>
        Add Flat
      </button>
      <button
        class="!text-xs lg:!text-sm !bg-gray-300 !rounded-lg !border !border-gray-800 !text-gray-800"
        mat-button
        color="primary"
        [matMenuTriggerFor]="sortMenu"
      >
        <mat-icon>sort</mat-icon>
        Sort by
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #sortMenu="matMenu">
        <button mat-menu-item (click)="setSort('city')">City (A-Z)</button>
        <button mat-menu-item (click)="setSort('rentPrice')">
          Price (min-max)
        </button>
        <button mat-menu-item (click)="setSort('areaSize')">
          Area (min-max)
        </button>
      </mat-menu>

      <button
        class="!text-gray-800 !font-bold"
        mat-button
        color="accent"
        (click)="toggleFilters()"
      >
        <mat-icon>tune</mat-icon>
        <mat-icon class="!m-0">
          {{ showFilters ? "arrow_drop_up" : "arrow_drop_down" }}
        </mat-icon>
      </button>
    </div>
  </div>

  @if(showFilters){
  <form
    [formGroup]="filterForm"
    class="mb-6 p-4 bg-white rounded shadow grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4"
  >
    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <mat-select formControlName="city">
        <mat-option value="">All</mat-option>
        @for (c of cityOptions; track c) {
        <mat-option [value]="c">{{ c }}</mat-option>
        } @empty {
        <mat-option disabled>No cities</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Min Price</mat-label>
      <input matInput type="number" formControlName="priceStart" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Max Price</mat-label>
      <input matInput type="number" formControlName="priceEnd" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Min Area (sqm)</mat-label>
      <input matInput type="number" formControlName="areaStart" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Max Area (sqm)</mat-label>
      <input matInput type="number" formControlName="areaEnd" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-select formControlName="hasAc" placeholder="Has AC?">
        <mat-option [value]="null">All</mat-option>
        <mat-option [value]="true">Yes</mat-option>
        <mat-option [value]="false">No</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="col-span-full flex justify-end">
      <button mat-button (click)="resetFilters()">Reset All</button>
    </div>
  </form>
  }

  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-5 gap-6"
  >
    @if (flatsSignal().length === 0) {
    <p class="col-span-full text-center text-gray-600 pt-20">
      No listings found. Please try adjusting your search or filters.
    </p>
    } @else { @for (flat of flatsSignal(); track flat.id) {
    <mat-card
      class="min-w-74 w-full cursor-pointer"
      (click)="viewFlat(flat.id)"
    >
      <img
        mat-card-image
        [src]="flat.photoUrl || 'fallback.png'"
        alt="Flat photo"
        class="max-h-40 min-h-40 object-cover pb-3"
      />

      <button
        mat-icon-button
        class="!absolute !top-2 !right-2 !text-red-500 !bg-gray-50/90"
        (click)="onFavoriteClick($event, flat.id)"
        [color]="isFavorite(flat.id) ? 'warn' : undefined"
      >
        <mat-icon>
          {{ isFavorite(flat.id) ? "favorite" : "favorite_border" }}
        </mat-icon>
      </button>

      <mat-card-content class="space-y-1">
        <p class="text-sm text-gray-700 flex items-center gap-2">
          <mat-icon class="!bg-gray-300 rounded-full">person</mat-icon>
          <strong class="">{{ flat.ownerName }}</strong>
        </p>
        <h3
          class="text-md font-medium whitespace-nowrap overflow-hidden overflow-ellipsis"
        >
          {{ flat.streetNumber }}, {{ flat.streetName }}, {{ flat.city }}
        </h3>
        <p class="text-gray-600 text-sm">
          {{ flat.areaSize }} sqm · Built {{ flat.yearBuilt }}
        </p>
        <div class="flex justify-between">
          <p class="text-gray-500 text-sm">
            Available: {{ flat.availableDate | date : "mediumDate" }}
          </p>
          <p class="text-gray-700">{{ flat.rentPrice | currency }}</p>
        </div>
      </mat-card-content>
    </mat-card>
    } }
  </div>
  }
</div>
