<div
  class="bg-gray-800 -my-4 h-full flex flex-col justify-center items-center relative z-0"
  style="min-height: calc(100dvh - 64px)"
>
  <img
    src="Background_Complete.png"
    class="absolute h-full w-full object-cover z-[-1]"
  />
  <img src="astro.png" class="absolute w-60" />
  <h3 class="text-gray-50 font-sans font-bold text-4xl -mb-36">
    Looks like you're lost in space
  </h3>
  <p
    class="text-gray-50 font-sans font-bold text-[450px]"
    style="font-family: 'Montserrat', sans-serif"
  >
    404
  </p>
</div>
