<div class="flex -my-4 justify-around" style="height: calc(100dvh - 76px)">
  <img src="boarding-img.png" class="h-[70%] max-h-[30rem] mt-20" />
  <div class="flex flex-col justify-center -mt-20">
    <h2 class="font-bold text-4xl text-end max-w-96 mb-4">
      FIND THE BEST HOUSE FOR YOU
    </h2>
    <div class="flex gap-3 justify-end">
      <button
        routerLink="/login"
        class="bg-red-600 text-white px-3 p-1 rounded-lg cursor-pointer"
      >
        Log In
      </button>
      <button
        routerLink="/register"
        class="bg-white text-red-600 px-3 p-1 rounded-lg border-red-600 border cursor-pointer"
      >
        Register
      </button>
    </div>
  </div>
</div>
