<div
  class="flex -my-4 items-center bg-gray-50 justify-center gap-5 flex-col md:justify-around md:flex-row"
  style="height: calc(100dvh - 76px)"
>
  <img
    src="boarding-img.png"
    class="md:-ml-10 max-w-[65%] order-2 md:order-1 lg:max-h-[35rem]"
  />
  <div class="flex flex-col justify-center -mt-20 md:mr-20 order-1">
    <h2
      class="font-bold text-center md:text-end max-w-96 mb-4 text-2xl xl:text-4xl"
    >
      FIND THE BEST<br />
      HOUSE FOR YOU
    </h2>
    <div class="flex gap-3 justify-center md:justify-end">
      <button
        routerLink="/login"
        class="bg-red-600 text-white px-3 p-1 rounded-lg cursor-pointer"
      >
        Log In
      </button>
      <button
        routerLink="/register"
        class="bg-none text-red-600 px-3 p-1 rounded-lg border-red-600 border cursor-pointer"
      >
        Register
      </button>
    </div>
  </div>
</div>
